@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  /* position animation  */
  transition: 0.2s linear;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

html {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;
}

body {
  background: #ffffff;
  overflow-x: hidden;
  width: 100%;
}

.box-header.container-fluid {
  background-image: url(https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvNDEwLWppcjY1ODUtamlyXzEuanBn.jpg);
  background-size: cover;
}

.tint {
  height: 800px;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: rgba(21, 21, 21, 0.6431372549);
}

header.scrolled {
  background-color: rgba(21, 21, 21, 0.8078431373);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem 2%;
  padding-bottom: 0.5rem;
  z-index: 99;
  background-color: transparent;
  justify-content: space-between;
}
header .brand h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
  margin-left: 3.5%;
  margin-top: 0.5rem;
}
header a {
  color: #eeede8;
  text-decoration: none;
}
header .navbar {
  margin-right: 4%;
}
header .navbar a {
  margin: 0 2.5rem;
  font-size: 1.3rem;
}
header .navbar a:hover {
  color: rgb(255, 192, 203);
  border-bottom: 0.15rem solid rgb(255, 192, 203);
  padding-bottom: 0.3rem;
}
header .icon {
  color: #ffffff;
  cursor: pointer;
  padding: 0 2rem;
  padding-right: 0;
  font-size: 1.5rem;
}
header .icon:hover {
  color: rgb(255, 192, 203);
}

.tabbar .tabbar-icon {
  z-index: 100;
  table-layout: fixed;
  opacity: 0;
  position: fixed;
  right: 0;
  padding: 2.8rem 5%;
}
.tabbar .tabbar-icon .icon {
  color: #ffffff;
  cursor: pointer;
}
.tabbar .tabbar-show {
  z-index: 99;
  table-layout: fixed;
  position: fixed;
  top: 0;
  right: 0px;
  display: none;
  height: 100vh;
  background-color: #eeede8;
}
.tabbar .tabbar-show .tabbar-item {
  padding: 6rem 2.2rem;
  display: grid;
  width: 300px;
}
.tabbar .tabbar-show .tabbar-item a.brand-tabbar {
  text-align: center;
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
}
.tabbar .tabbar-show .tabbar-item a {
  margin: 2rem 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: #151515;
}

section.title {
  padding: 13rem;
  text-align: center;
}
section.title p {
  color: #eeede8;
}
section.title p.title-text {
  font-size: 8rem;
}
section.title p.title-detail {
  padding: 0 32%;
}
section.title h1 {
  margin-top: -3rem;
  margin-left: -0.8rem;
  font-size: 6rem;
  color: #eeede8;
  font-family: "Great Vibes", cursive;
}
section.title button.more-btn {
  font-size: 1rem;
  text-decoration: none;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0.15rem;
  color: #ffffff;
  padding: 0.6rem 2rem;
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: transparent;
}
section.title button.more-btn:hover {
  background-color: rgba(255, 192, 203, 0.493);
  border-color: rgba(255, 192, 203, 0.493);
}

section.products {
  padding: 5rem 11%;
}
section.products h2 {
  margin-top: 2rem;
}
section.products p {
  font-size: 1.3rem;
}
section.products .navbar-product {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
section.products .navbar-product .title-product {
  margin-top: 1rem;
  display: grid;
}
section.products .navbar-product .title-product a.text-catalog {
  text-decoration: none;
  color: #151515;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
}
section.products .navbar-product .title-product a.our-pro {
  text-decoration: none;
  color: #151515;
  font-size: 3rem;
  font-weight: 600;
}
section.products .box-catalog .box-image {
  justify-content: center;
  width: 100%;
  height: 100%;
}
section.products .box-catalog .box-image .img-catalog {
  margin-top: 3rem;
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mission {
  margin: 10rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  background: #eeede8;
}
.mission .image {
  width: 200rem;
  height: 650px;
}
.mission .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mission .text-mission {
  padding: 10%;
  margin-bottom: 3rem;
}
.mission .text-mission h1 {
  font-size: 5rem;
}
.mission .text-mission p.sign {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  position: absolute;
  padding-top: 5%;
  padding-right: 12%;
  right: 0;
}

.delivery {
  margin-top: -5rem;
  padding: 5% 11%;
}
.delivery .text-title .sign {
  font-size: 2rem;
  font-family: "Great Vibes", cursive;
}
.delivery .text-title h1 {
  margin-top: -1.5rem;
}
.delivery .detail {
  display: flex;
  padding: 0 5%;
  margin: 4rem 5rem;
}
.delivery .detail p {
  padding: 0 2rem;
}
.delivery .detail p.dot {
  font-size: 2rem;
}

.event {
  margin: 5rem 0;
  background-image: url(https://i.pinimg.com/originals/0f/14/75/0f14759c4b2eaf981ae403dfc1ed88ec.jpg);
  background-size: cover;
  background-position-y: -20rem;
}
.event .event-detail {
  background: rgba(21, 21, 21, 0.3764705882);
  text-align: center;
  padding: 10%;
  color: #eeede8;
}
.event .event-detail p {
  padding: 0 25%;
}
.event .event-detail p.sign {
  margin-top: 3rem;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
}

#splide1 {
  height: auto;
}
#splide1 .creating-event {
  width: 100%;
  display: flex;
  padding: 3% 10%;
  margin-left: 4%;
}
#splide1 .creating-event .image {
  height: 100%;
  width: 600px;
}
#splide1 .creating-event .image img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
#splide1 .creating-event .detail {
  padding: 3% 5%;
}
#splide1 .creating-event .detail h2 {
  margin-top: -0.5rem;
}
#splide1 .creating-event .detail p.lorem {
  padding-right: 30%;
}
#splide1 .creating-event .detail p.price {
  margin: 2rem 0;
}
#splide1 .creating-event .detail button {
  padding: 0.7rem 5rem;
  background: #151515;
  color: #eeede8;
  border-width: 0;
}
#splide1 .creating-event .detail button:hover {
  background-color: rgba(255, 192, 203, 0.493);
  color: #151515;
}

.end {
  background: #151515;
  height: 80px;
}

@media (max-width: 1300px) {
  html {
    font-size: 87%;
  }
  section.title p.title-text {
    font-size: 7rem;
  }
  section.title p.title-detail {
    font-size: 15px;
    padding: 0 32%;
  }
  header .navbar {
    opacity: 0;
    pointer-events: none;
  }
  .tabbar .tabbar-icon {
    opacity: 100%;
  }
  .delivery .detail {
    display: grid;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 80%;
  }
  section.title p.title-text {
    font-size: 7.5rem;
  }
  section.title p.title-detail {
    padding: 0 15%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 70%;
  }
  section.title {
    padding: 13rem 10rem;
  }
  section.title p.title-text {
    font-size: 8rem;
  }
  section.title h1 {
    font-size: 6rem;
  }
  section.title p.title-detail {
    padding: 0 10%;
  }
  #splide1 .creating-event .image img {
    height: 400px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 65%;
  }
  section.title {
    padding: 13rem 8rem;
  }
  section.title p.title-text {
    font-size: 7rem;
  }
  section.title h1 {
    font-size: 6rem;
  }
  .mission .image {
    display: none;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 65%;
  }
  section.title {
    padding: 13rem 6rem;
  }
  section.title p.title-text {
    font-size: 5.5rem;
  }
  section.title h1 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=style.css.map */