@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;500;700&display=swap');


$black : #151515;
$cream : #eeede8;
$green: #525a28;
$pink : rgb(255, 192, 203);
$white: #ffffff;

// font-family: 'Great Vibes', cursive;

* {
  font-family: 'Roboto', sans-serif;


  /* position animation  */
  transition: .2s linear;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

html {

  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;

}

body {
  background: $white;
  overflow-x: hidden;
  width: 100%;

}

.box-header.container-fluid {
  background-image: url(https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvNDEwLWppcjY1ODUtamlyXzEuanBn.jpg);
  background-size: cover;
}

.tint {
  height: 800px;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #151515a4;
}
header.scrolled{
  background-color: #151515ce;
}

header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem 2%;
  padding-bottom: .5rem;
  z-index: 99;
  background-color: transparent;
  justify-content: space-between;

  .brand h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    margin-left: 3.5%;
    margin-top: .5rem;
  }

  a {
    color: $cream;
    text-decoration: none;
  }

  .navbar {
    margin-right: 4%;
  }

  .navbar a {
    margin: 0 2.5rem;
    font-size: 1.3rem;
  }

  .navbar a:hover {
    color: $pink;
    border-bottom: .15rem solid $pink;
    padding-bottom: .3rem;
  }

  .icon {
    color: $white;
    cursor: pointer;
    padding: 0 2rem;
    padding-right: 0;
    font-size: 1.5rem;
  }

  .icon:hover {
    color: $pink;
  }


}

.tabbar {

  .tabbar-icon {
    z-index: 100;
    table-layout: fixed;
    opacity: 0;
    position: fixed;
    right: 0;
    padding: 2.8rem 5%;

    .icon {
      color: $white;
      cursor: pointer;
    }

   

  }

  .tabbar-show {
    z-index: 99;
    table-layout: fixed;
    position: fixed;
    top: 0;
    right: 0px;
    display: none;
    height: 100vh;
    background-color: $cream;
    .tabbar-item {
      padding: 6rem 2.2rem;
      display: grid;
      width: 300px;
      

      a.brand-tabbar {
        text-align: center;
        font-size: 4rem;
        font-family: 'Great Vibes', cursive;
      }

      a {
        margin: 2rem 0;
        font-size: 1.5rem;
        text-decoration: none;
        color: $black;
      }
    }
  }
}



section.title {
  padding: 13rem;
  text-align: center;

  p {
    color: $cream;
  }

  p.title-text {
    font-size: 8rem;
  }

  p.title-detail {
    padding: 0 32%;
  }

  h1 {
    margin-top: -3rem;
    margin-left: -.8rem;
    font-size: 6rem;
    color: $cream;
    font-family: 'Great Vibes', cursive;

  }

  button.more-btn {
    font-size: 1rem;
    text-decoration: none;
    border-color: $white;
    border-style: solid;
    border-width: .15rem;
    color: $white;
    padding: .6rem 2rem;
    display: inline-flex;
    border-radius: .5rem;
    background-color: transparent;
  }

  button.more-btn:hover {
    background-color: rgba(255, 192, 203, 0.493);
    border-color: rgba(255, 192, 203, 0.493);
  }
}


section.products {
  padding: 5rem 11%;

  h2{
    margin-top: 2rem ;
  }
  p{
    font-size: 1.3rem;
  }

  .navbar-product {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .title-product {
      margin-top: 1rem;
      display: grid;

      a.text-catalog {
        text-decoration: none;
        color: $black;
        font-family: 'Great Vibes', cursive;
        font-size: 2rem;
      }

      a.our-pro {
        text-decoration: none;
        color: $black;
        font-size: 3rem;
        font-weight: 600;
      }
    }

  }



  .box-catalog {

    .box-image {

      justify-content: center;
      width: 100%;
      height: 100%;

      .img-catalog {
        margin-top: 3rem;
        width: 300px;
        height: 350px;
        object-fit: cover;
      }

    }

  }

}


.mission {
  margin: 10rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  background: $cream;

  .image {
    width: 200rem;
    height: 650px;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .text-mission {
    padding: 10%;
    margin-bottom: 3rem;

    h1 {
      font-size: 5rem;
    }

    p.sign {
      font-family: 'Great Vibes', cursive;
      font-size: 2rem;
      position: absolute;
      padding-top: 5%;
      padding-right: 12%;
      right: 0;
    }
  }
}

.delivery {
  margin-top: -5rem;
  padding: 5% 11%;

  .text-title {
    .sign {
      font-size: 2rem;
      font-family: 'Great Vibes', cursive;
    }

    h1 {
      margin-top: -1.5rem;
    }
  }


  .detail {

    display: flex;
    padding: 0 5%;
    margin: 4rem 5rem;

    p {
      padding: 0 2rem;

    }

    p.dot {
      font-size: 2rem;
    }
  }
}

.event {
  margin: 5rem 0;
  background-image: url(https://i.pinimg.com/originals/0f/14/75/0f14759c4b2eaf981ae403dfc1ed88ec.jpg);
  background-size: cover;
  background-position-y: -36rem;

  .event-detail {
    background: #15151560;
    text-align: center;
    padding: 10%;
    color: $cream;

    p {
      padding: 0 25%;
    }

    p.sign {
      margin-top: 3rem;
      font-family: 'Great Vibes', cursive;
      font-size: 2rem;
    }

  }
}

#splide1 {
  height: auto;

  .creating-event {
    width: 100%;
    display: flex;


    padding: 3% 10%;

    margin-left: 4%;

    .image {
      height: 100%;
      width: 600px;

      img {
        width: 100%;
        height: 600px;
        object-fit: cover;

      }

    }

    .detail {

      padding: 3% 5%;

      h2 {
        margin-top: -.5rem;
      }

      p.lorem {
        padding-right: 30%;
      }

      p.price {
        margin: 2rem 0;
      }

      button {
        padding: .7rem 5rem;
        background: $black;
        color: $cream;
        border-width: 0;
      }

      button:hover {
        background-color: rgba(255, 192, 203, 0.493);
        color: $black;
      }

    }

  }
}

.end{
  background: $black;
  height: 80px;
}


@media(max-width:1300px) {
  html {
    font-size: 87%;
  }

  section.title {
    p.title-text {
      font-size: 7rem;
    }

    p.title-detail {
      font-size: 15px;
      padding: 0 32%;
    }
  }

  header {
    .navbar {
      opacity: 0;
      pointer-events: none;
    }
  }

  .tabbar {
    .tabbar-icon {
      opacity: 100%;
    }
  }

  .delivery {
    .detail {
      display: grid;
      text-align: center;
    }
  }


}






@media(max-width:1000px) {
  html {
    font-size: 80%;
  }

  section.title {

    p.title-text {
      font-size: 7.5rem;
    }

    p.title-detail {

      padding: 0 15%;
    }
  }


}


@media(max-width:800px) {
  html {
    font-size: 70%;
  }

  section.title {
    padding: 13rem 10rem;

    p.title-text {
      font-size: 8rem;
    }

    h1 {
      font-size: 6rem;
    }

    p.title-detail {

      padding: 0 10%;
    }
  }

  #splide1 {
    .creating-event {
      .image img {
        height: 400px;

      }
    }

  }


}

@media(max-width:600px) {
  html {
    font-size: 65%;
  }

  section.title {
    padding: 13rem 8rem;

    p.title-text {
      font-size: 7rem;
    }

    h1 {
      font-size: 6rem;
    }
  }

  .mission {
    .image {
      display: none;
    }
  }

}

@media(max-width:500px) {
  html {
    font-size: 65%;
  }

  section.title {
    padding: 13rem 6rem;

    p.title-text {
      font-size: 5.5rem;
    }

    h1 {
      font-size: 5rem;
    }
  }


}